{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h2>Всего статей опубликовано: {{news_list|length}} </h2>
     <table border="1">
            <tr bgcolor="cyan">
               <td width="40%">Заголовок</td>
               <td width="15">Дата публикации</td>
               <td>Превью</td>

            </tr>
            {% for news in news_list %}
                <tr>
                    <td align="left"><a href="http://127.0.0.1:8000/news/{{news.id}}">{{news.title|correct_text}}</a></td>
                    <td>{{news.posted|date:'d M Y'}}</td>
                    <td align="left">{{news.text|truncatewords:20|correct_text }}</td>
                </tr>
                <tr height="20"></tr>
            {% endfor %}
     </table>
{% endblock content %}